
.button-primary {
  font-family: sans-serif;
  text-align: center;
  font-weight: normal;
  display: inline-block;
  background-color: #ff008c;
  color: white !important;
  margin: 0 auto;
  font-size: 14px;
  padding: 16px 22px;
  max-width: 202px;
  border-radius: 0px;
  line-height: 19px;
  text-decoration: none;
  border: none;
  position: relative;
  height: 52px;
}

.button-primary:hover{
  background-color: #ff008c;
  color: black;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14), 0 3px 8px 0 rgba(0, 0, 0, 0.11);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14), 0 3px 8px 0 rgba(0, 0, 0, 0.11);
}