
<div id="PopupEmpresa" class="modal">
    <div class="contenidoPopupEmpresas">
        <div class="contenidoPopupEmpresas-Header">
            <h2>Acceso Servicios <br />
                Empresariales</h2>
        </div>
        <div class="contenidoPopupEmpresas-Body">
        <select class="contenidoPopupEmpresas-Select">
            <option value="0" class="first-option">identificación de Empresas</option>
        </select>
        <span class="contenidoPopupEmpresas-CloseBtn"> <p>Salir</p> </span>
        <span class="contenidoPopupEmpresas-RegresarHome"> <p>Regresar a home..</p> </span>
        <button class="contenidoPopupEmpresas-ContinueBtn">CONTINUAR</button>
        </div>
        <div class="contenidoPopupEmpresas-Footer">
            <p class="textoCopyright">copyright © Caja de compensación familiar de Antioquia, 2019</p>
        </div>
    </div>
    
</div>