<head>
    <meta name="viewport" content="width=device-width">
    <title></title>
    <SCRIPT type="text/javascript" lang="javascript" src="https://cdns.gigya.com/js/gigya.js?apikey=3_gRpdLbyLjbFd6HeEXoJ-nQudIobjbhWrWkN4OdSL6o6JQUwsYyRjHFRKuUiopn6J"></SCRIPT>
    <script>
    
        function getUserInfo(response) {
            gigya.socialize.getUserInfo({ callback: getUID });
        }
        function getUID(res) {
            console.log(res);
            if (res.user != null && res.user.isConnected) {
                document.getElementById("name").innerHTML = "Bienvenido " + res.user.nickname + "!!! ";
            }
        }
        
        /*
        function alCerrar(response){
            gigya.socialize.getUserInfo(
                { 
                    callback: 
                        function(response){
                            if (response.status === "OK" && response.user != null && response.user.isConnected) {
                                gigya.accounts.showScreenSet({screenSet:'POC-RegistrationLogin', startScreen: 'gigya-code-activation-screen'});
                            }
                        }
                }
            );
        }
        */
        function onLogout(response) {
            if (response.status === "OK") {
                document.getElementById("name").innerHTML = "";
            }else {
                alert("Error :" + response.errorMessage);
            }
        }
    </script>    
<script src='/google_analytics_auto.js'></script></head>


<body>
    <div>
        <div id="runningCodeExample" style="border: 1px solid skyblue; padding: 15px; width: 300px;">
            <a href="#" onclick="gigya.accounts.showScreenSet({screenSet:'POC-RegistrationLogin', startScreen: 'gigya-register-screen', deviceType: 'auto'});">Registro</a>
            <a href="#" onclick="gigya.accounts.showScreenSet({screenSet:'POC-RegistrationLogin', startScreen: 'gigya-login-screen', onHide:getUserInfo, deviceType: 'auto'});">Inicio</a>
            
            <a href="#" onclick="gigya.accounts.showScreenSet({screenSet:'Comfama-ProfileUpdate', startScreen: 'gigya-my-account-screen', deviceType: 'auto'});">Mi Cuenta</a>
            
            <a href="#" onclick="gigya.accounts.logout({callback:onLogout});">Salir</a>
            
            <span id="name" ></span>


        </div>
    </div>
</body>